body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

#photo-moto{

    width: 400px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:25vh;
    border-radius:15px;
    overflow:hidden;
    transition: box-shadow .5s;
    
}

#photo-moto:hover{
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.55); 
    transition: box-shadow .5s;
}
#photo-moto-overlay{
    position: absolute; 
    top:0;
    bottom: 0;
    left:0;
    right:0;
   
    
}
#bobber{
   
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

#save-button{
    position:absolute;
    width: 100px;
    height: 50px;
    background-color: red;
    top:0;
    right: 20px;
    border-radius: 40%;
    cursor:pointer;
    transform:translateX(120px) ;
    transition: transform 1s;
    
}
#text{
    
    color:white;
    padding-left: 35px;
    padding-top: 16%
}
#photo-moto:hover #save-button{
    transform:translateX(0px);
}

#bottom-icons{
   
    position: absolute; 
    bottom: 0;
    left:0;
    right:0;
    color:black;
    transform:translateX(-520px) ;
    transition: transform 1s;
}
#photo-moto:hover #bottom-icons{
    transform:translateX(0px);
}
.far{
    position:absolute;
    width: 160px;
    height: 50px;
    background-color:white;
    bottom:3px;
    left: 20px;
    border-radius: 40%;
}
.text-1{
padding-left:35px;
padding-top:16px;
}
.fa-solid{
padding-left:290px;
font-size: 30px;
padding-bottom:10px;
}
.fas{
    position:absolute;
    width: 50px;
    height: 50px;
    background-color:white;
    bottom:3px;
    right: 10px;
    border-radius: 50%;
}
.text-2{
    
    padding-left:20px;
    padding-top: 13px;
}