body{
    margin: 0;
}
.main{
    width: 400px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25vh;
    border-radius: 15px;

}

img{
    
    width: 500px;
    height: 500px;
    border-radius:15px;

}
